<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.GoodsTypeMapper">
	<resultMap type="GoodsType" id="baseResult">
		<id property="typeId" column="type_id" javaType="int"/>
		<result property="typeName" column="type_name" javaType="java.lang.String"/>
		<result property="typeLv" column="type_lv" javaType="int"/>
		<result property="typePath" column="type_path" javaType="string"/>
		<result property="typePid" column="type_pid" javaType="int"/>		
	</resultMap>
	<resultMap type="GoodsType" id="baseResultJoinGoods" extends="baseResult">
		<!-- 关联对象的集合:方式1，要求连接查询 -->
		<collection property="goodsList" javaType="java.util.ArrayList"
			ofType="com.oracle.mapper.Goods" 
			resultMap="com.oracle.mapper.GoodsMapper.baseResult">
		</collection>
	</resultMap>
	
	<resultMap type="GoodsType" id="baseResultJoinGoods2" extends="baseResult">
		<!-- 关联对象的集合:方式2，不要求连接查询，使用关联对象的查询方法 -->
		<collection property="goodsList2" javaType="java.util.ArrayList"
			ofType="com.oracle.mapper.Goods" 
			select="com.oracle.mapper.GoodsMapper.findByTypeId"
			column="type_id"></collection>
	</resultMap>
	

	<select id="findById" parameterType="int" resultMap="baseResult">
		select * from goods_type where type_id = #{id}
	</select>
	
	<select id="findByIdJoinGoods" parameterType="int" resultMap="baseResultJoinGoods">
		select * from goods_type t,goods g
		 where t.type_id=g.goods_type and type_id = #{id}
	</select>
	
	<select id="findByIdJoinGoods2" parameterType="int" resultMap="baseResultJoinGoods2">
		select * from goods_type where type_id = #{id}
	</select>
	
</mapper>
