<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.UserMapper">
	<resultMap type="Users" id="baseResult">
		<id property="userId" column="user_id" javaType="int"/>
		<result property="userName" column="user_name" javaType="java.lang.String"/>
		<result property="userPass" column="user_pass" javaType="string"/>
		<result property="userAddress" column="user_address" javaType="string"/>
		<result property="userPhone" column="user_phone" javaType="string"/>
	</resultMap>

	<select id="findById" parameterType="int" resultMap="baseResult">
		select * from users where user_id = #{id}
	</select>
	
	<select id="login"  resultMap="baseResult">
		select * from users 
		where user_name=#{0} and user_pass=#{1}
	</select>
	
	<select id="login2"  resultMap="baseResult">
		select * from users 
		where user_name=#{username} and user_pass=#{userpass}
	</select>
	
	<select id="findByCondition"  parameterType="com.oracle.vo.SearchVO" resultMap="baseResult">
		select * from users 
		where user_id&gt;=#{min} and user_id&lt;=#{max} and user_name like '%${user.userName}%'
	</select>
	
</mapper>
