<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.UsersMapper">
	<resultMap type="com.demo.pojo.Users" id="Users">
		<id column="user_id" property="id" javaType="long"/>
		<result column="user_name" property="name"/>
		<result column="birthday" property="birthday" javaType="java.util.Date"/>
		<result column="role_id" property="roleId" javaType="int"/> 
		<association property="role" resultMap="com.demo.mapper.RoleMapper.Role" javaType="com.demo.pojo.Role"></association>
	</resultMap>
	
	<select id="findAll" resultMap="Users">
		select * from users
	</select>
	
	<select id="findById" parameterType="int" resultMap="Users">
		select * from users,roles
		where user_id=#{id}
		and users.role_id = roles.role_id
	</select>
	
	<insert id="save" parameterType="com.demo.pojo.Users">
		insert into users(user_name,birthday)
		values(#{name},#{birthday})		
	</insert>
	
	<select id="findByNameAndDate" resultMap="Users">
		select * from users
		where user_name = #{name} and birthday=#{date}
	</select>
	
</mapper>
